{% extends 'base.html' %}


{% block title %}
Категория: {{ category }}
{% endblock %}


{% block content %}
<div class="row my-4">
    <div class="col-2">
        <ul class="list-group list-group-action">
            <li class="list-group-item list-group-item-action"><a href="">По алфавиту</a></li>
            <li class="list-group-item list-group-item-action"><a href="">По просмотрам</a></li>
            <li class="list-group-item list-group-item-action"><a href="">По дате</a></li>
        </ul>
    </div>
    <div class="col-10">
        <div class="row row-gap-4 mb-4">
            {% for article in articles %}
            <div class="col-4">{% include 'components/_card.html' %}</div>
            {% endfor %}

        </div>

        {% include 'components/_pagination.html' %}
    </div>
</div>
{% endblock %}