{% load main_tags %}

{% get_faqs as faqs %}

<div class="accordion my-4" id="accordionExample">
  {% for faq in faqs %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button {% if forloop.counter != 1 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-{{ faq.pk }}" aria-expanded="true" aria-controls="collapseOne">
        {{ faq.question }}
      </button>
    </h2>
    <!--collapseOne-2-->
    <!--collapseOne-2-->
    <div id="collapseOne-{{ faq.pk }}" class="accordion-collapse collapse  {% if forloop.counter == 1 %}show{% endif %}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ faq.answer }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>